<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<dholi_payments>
				<model>DholiPaymentFacade</model>
				<active>0</active>
				<debug>1</debug>
				<order_status>pending</order_status>
			</dholi_payments>
		</payment>
	</default>
</config>