<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="dholi_payments" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Dholi - Transparent Payment</label>
        <comment><![CDATA[Accept credit cards and boleto bancário at your Magento store.<br/>The purchase is completed at the store.]]></comment>
        <fieldset_css>complex dholi-section</fieldset_css>
        <frontend_model>Dholi\Payment\Block\Adminhtml\Config\Fieldset</frontend_model>
        <attribute type="displayIn">recommended_solutions</attribute>
      </group>
    </section>
  </system>
</config>
